

header{
  background-image: url('/images/coTrip1.jpg');
  background-color: #D8AC9C;
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 295px;
  text-align: center;
}

p{
  background-color: #999B84;
  text-align: center;
  font-size: 13px;
}

desc{
  text-align: center;
  background-color: #EFD9D1;

}

body{
  background-color: #999B84;

}
